*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}
.container{
    
    color: white;
    display: flex;



}
.box{
    height: 20px;
    width: 10px;
    border: 2px solid green


}



